<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Amity University</title>
  <style>
    body{
        background-color: darkgrey;
    }
    .container {
        background-color: #f7f7f7;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
      }
      h1 {
        color: #337ab7;
      }
      .border {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px #ccc;
        animation: slideInLeft 1s ease;
      }
  </style>
</head>
<body>
  <div class="container my-5">
    <h1 class="text-center">Amity University sports scholarship. </h1>
    <hr>
    <div class="border p-3">
      <h2>Key Information:</h2>
      <p>Sports scholarship at Amity provides athelets with excellent and more than generous grants. </p>
    </div>
    <div class="border p-3 my-3">
      <h2>Amity sports scholarship Eligibility Criteria:</h2>
      <ul>
        <li>student must be atleast a national level participating athelet in any sports to be eligible. </li>
      </ul>
    </div>
    <div class="border p-3 my-3">
      <h2>Amity sports Scholarship Rewards and Benefits:</h2>
      <ul>
        <li>International level athelet 100% tuition discount.</li>
        <li>National winning athelet 100% tuition discount. </li>
        <li>National level participating athelet 75% discount. </li>
      </ul>
    </div>
    <div class="border p-3 my-3">
      <h2>Amity sports Scholarship Application Process:</h2>
      <ol>
        <li>Applications are processed based on personal interview.</li>
        <li>In person tryouts are conducted to see the performance.</li>
        
      </ol>
    </div>
    </div>
  </body>
  </html>
  
