<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>MYSY Scholarship</title>
  <style>
    body{
        background-color: darkgrey;
    }
    .container {
        background-color: #f7f7f7;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
      }
      h1 {
        color: #337ab7;
      }
      .border {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px #ccc;
        animation: slideInLeft 1s ease;
      }
  </style>
</head>
<body>
  <div class="container my-5">
    <h1 class="text-center">Griffith university</h1>
    <hr>
    <div class="border p-3">
      <h2>Key Information:</h2>
      <p>Griffith's remarkable scholarship rewards execptional students by helping them finance their tuiton in such a way that they have one less thing to worry about. </p>
    </div>
    <div class="border p-3 my-3">
      <h2>Remarkable Scholarship Eligibility Criteria:</h2>
      <ul>
         <li> Be an international student from  anywhere but New zealand. </li>
         <li> Have minimum GPA of 80 percent. </li> 
         <li> Have applied to study at griffith by scholarship end date. </li>
         <li>Satisfy English language entry requirement. </li>
      </ul>
    </div>
    <div class="border p-3 my-3">
      <h2>Remarkable Scholarship Rewards and Benefits:</h2>
      <ul>
         <li> Covers 50% of tuiton fees for the entire course duration. </li>
      </ul>
    </div>
    <div class="border p-3 my-3">
      <h2> Remarkable Scholarship Application Process:</h2>
      <ol>
        <li> Apply for admission or be admitted to study at Griffith and not be a continuing student. </li>
        <li> Apply to scholarship directly by visiting Griffith's website and applying in the scholarship option. </li>
      </ol>
    </div>
    
      
    </div>
  </body>
  </html>