{% load static %}

<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <title>Interview Question</title> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://kit.fontawesome.com/4378b71530.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'home.css' %}">

<style>
    body {
  background: #f0f0f0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
 
}
h2 {
  color: #282F35;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
 
}
p {
  color: #666666;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px;

}
.main {
  max-width: 1200px;
  margin: 0 auto;
}
.list {
  margin: 90px 0;
  overflow: hidden;
  padding: 0;
}
.list li {
  list-style-type: none;
  padding: 0;
}
.list-heading {
  background: #FFFFFF;
  border: none;
  border-bottom: solid 1px #F2F2F2;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 2em;
  position: relative;
  text-align: center;
  width: 100%;
}
.list-heading:before {
  background: #000;
  content: '';
  height: 2px;
  margin-right: 37px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotate(-90deg);
  transition: all 0.2s ease-in-out;
  width: 14px;
}
.list-heading:after {
  background: #000;
  content: '';
  height: 2px;
  margin-right: 37px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 14px;
}
.list-heading.active:before {
  transform: rotate(0deg);
}
.list-heading.active h2, .list-heading:focus h2 {
  position: relative;
  color:  rgb(88,119,119);
}
.list-text {
  background: #d6d6d6;
  display: none;
  overflow: hidden;
}

</style>
  
</head>
<body>
  <!-- navigationbar -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: black">
    <a class="navbar-brand" href="#" style="color:white;">LeverageGuild</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active " style="color: white;" href="{% url 'Login:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;"  href="{% url 'Login:scholarship' %}">Scholarship</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;"  href="{% url 'Login:university' %}">University</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;"  href="{% url 'Login:about' %}">About</a>
        </li>
        {% if user.is_authenticated %}
          <div class="dropdown">
            <a href="#" style="color:white;" class="nav-item nav-link" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.username}} <i class="fas fa-user sun-icon"></i>
            </a>

          <div class="dropdown-menu" aria-labelledby="user-dropdown">
            <a class="nav-link btn btn-primary dropdown-item" href="{% url 'sprofile:edit_profile' %}" style="color: black;">View Profile</a>
            <a class="nav-link btn btn-primary dropdown-item" href="#" onclick="location.href='/logout';" style="color: black;">Logout</a>
          </div>
        </div>
        {% else %}
        <li class="nav-item mx-1"></li>
        </li>
        <li class="nav-item ">
          <a class="nav-link btn " href="{% url 'Login:SignUp' %}" style="color: white; background-color:rgb(88, 119, 119); margin-right:4px;">Signup</a>
        </li>
        <li class="nav-item">
        <a class="nav-link btn " href="{% url 'Login:Login' %}" style="color: white; background-color:rgb(88, 119, 119)">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="ml-auto">
      <i class="fas fa-sun sun-icon ml-2"></i>
    </div>
  </nav>
  
  <!-- navigationbar -->
  <div class="main">
  <ul class="list">
    <li>
      <button class="list-heading"><h2>Why do you want to attend this university/program?</h2></button>
      <div class="list-text">
        <p>I am interested in attending this university/program because of its reputation for excellence in the field. I have done extensive research and have found that the faculty members are highly knowledgeable and experienced, and the curriculum is well-rounded and comprehensive. I am also impressed with the opportunities for research and hands-on experience, which I believe will be invaluable in my future career. Additionally, the university's commitment to diversity and inclusion aligns with my own values and beliefs, and I am excited to be part of a community that celebrates and supports diversity.
        </p>
      </div>
    </li>
    <li>
        <button class="list-heading"><h2>What are your strengths, and how will they help you in your academic and professional pursuits?</h2></button>
        <div class="list-text">
          <p>My strengths include strong analytical and problem-solving skills, effective communication skills, and the ability to work well in a team. These strengths will help me in my academic pursuits by enabling me to grasp complex concepts and apply them in real-world scenarios. Additionally, these skills will be valuable in my professional pursuits, as they will allow me to collaborate with colleagues, communicate effectively with clients and stakeholders, and solve problems efficiently.

          </p>
        </div>
      </li>
      <li>
        <button class="list-heading"><h2>What are your weaknesses, and how have you worked to overcome them?</h2></button>
        <div class="list-text">
          <p>One of my weaknesses is that I tend to overthink and second-guess myself, which can lead to indecisiveness. To overcome this, I have been practicing mindfulness and meditation, which have helped me become more self-aware and improve my decision-making skills. Additionally, I have been seeking feedback from my mentors and peers, which has helped me gain more confidence in my abilities and make more informed decisions.

          </p>
        </div>
      </li>
    <li>
      <button class="list-heading"><h2>Tell us about a time when you faced a difficult challenge and how you overcame it.</h2></button>
      <div class="list-text">
        <p>One time, I was working on a group project in college, and we had a tight deadline to complete it. However, one of our team members suddenly dropped out, leaving us with a lot of extra work to do. To overcome this challenge, we quickly reorganized the tasks and divided the work among the remaining team members. We communicated regularly and worked efficiently to make up for the lost time. Ultimately, we were able to complete the project on time and received a high grade for it.
        </p>
      </div>
    </li>
	   <li>
      <button class="list-heading"><h2>How do you handle stress and pressure?</h2></button>
      <div class="list-text">
        <p>I handle stress and pressure by prioritizing tasks and creating a plan of action. I break down large tasks into smaller, more manageable steps, and I make sure to take breaks when needed to avoid burnout. Additionally, I seek support from my friends and family and make time for self-care activities such as exercise and meditation. I have found that staying organized and focusing on the task at hand helps me to stay calm and focused even in high-pressure situations.
        </p>
      </div>
    </li>
	  <li>
      <button class="list-heading"><h2>What sets you apart from other applicants?</h2></button>
      <div class="list-text">
        <p>One thing that sets me apart from other applicants is my dedication to continuous learning and growth. I am always seeking out new opportunities to develop my skills and expand my knowledge, and I am not afraid to take on new challenges. Additionally, my diverse background and experiences have given me a unique perspective and the ability to adapt to different situations and work effectively with people from all walks of life. Finally, my strong work ethic and attention to detail have consistently resulted in high-quality work and positive feedback from supervisors and colleagues.
        </p>
      </div>
    </li>

    <li>
        <button class="list-heading"><h2>What are your academic achievements, and how do they relate to your career goals?
        </h2></button>
        <div class="list-text">
          <p>I have consistently been a top performer in my academic career, maintaining a high GPA and participating in various extracurricular activities. My academic achievements have provided me with a strong foundation in the subjects related to my career goals, such as mathematics, science, and computer programming. Moreover, my involvement in extracurricular activities has taught me valuable leadership, teamwork, and communication skills, which will be essential for my career.
          </p>
        </div>
      </li>

      <li>
        <button class="list-heading"><h2>What inspired you to pursue this field of study?</h2></button>
        <div class="list-text">
          <p> I have always been interested in this field because of its potential to make a positive impact on people's lives. Seeing how advancements in this field can improve healthcare, technology, and society as a whole, inspired me to pursue it as my career.
          </p>
        </div>
      </li>

      <li>
        <button class="list-heading"><h2>How have you demonstrated leadership skills in the past?</h2></button>
        <div class="list-text">
          <p> I have demonstrated my leadership skills through my involvement in various extracurricular activities, such as being the captain of my high school's debate team and organizing community service projects. I also have experience leading group projects and delegating tasks effectively.

          </p>
        </div>
      </li>

     

      <li>
        <button class="list-heading"><h2>How do you plan to contribute to the institution and the community if admitted?</h2></button>
        <div class="list-text">
          <p>If admitted, I plan to contribute to the institution and the community by actively participating in extracurricular activities and community service projects. I would like to join clubs and organizations related to my interests and share my skills and knowledge with others. Additionally, I plan to volunteer for community service projects, such as tutoring underprivileged students, cleaning up local parks, and participating in fundraising events. By doing so, I hope to make a positive impact on the institution and the community and develop valuable leadership and teamwork skills.
          </p>
        </div>
      </li>
  </ul>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/4378b71530.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  
    <script>
        $(function() {
    $('.list-heading').on('click', function(e) {
      e.preventDefault();
      if ($(this).hasClass('active')) {
        $(this).removeClass('active');
        $(this).next()
        .stop()
        .slideUp(300);
      } else {
        $(this).addClass('active');
        $(this).next()
        .stop()
        .slideDown(300);
      }
    });
  });
    </script>
 
</body>
</html>