<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Queens Mary University</title>
  <style>
    body{
        background-color: darkgrey;
    }
    .container {
        background-color: #f7f7f7;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
      }
      h1 {
        color: #337ab7;
      }
      .border {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px #ccc;
        animation: slideInLeft 1s ease;
      }
  </style>
</head>
<body>
  <div class="container my-5">
    <h1 class="text-center">Queen's Mary Deep minds scholarship. </h1>
    <hr>
    <div class="border p-3">
      <h2>Key Information:</h2>
      <p>Deep minds scholarship offers excellent fianancial help to under represented groups in artificial intelligence. </p>
    </div>
    <div class="border p-3 my-3">
      <h2>Deep Minds scholarship Eligibility Criteria:</h2>
      <ul>
        <li>Student must be a female or of any underrepresented genre of Artificial intelligence. </li>
        <li>Aspirant with 80% GPA and more should apply. </li>
        <li>Student must get admitted to an artificial intelligence course at Queens Mary</li>
      </ul>
    </div>
    <div class="border p-3 my-3">
      <h2>Deep Minds Scholarship Rewards and Benefits:</h2>
      <ul>
        <li>The University offers 48330 pounds to the qualifying students. </li> 
        <li>Covers their tuition fees and living costs. </li> 
      </ul>
    </div>
    <div class="border p-3 my-3">
      <h2>Deep Minds Scholarship Application Process:</h2>
      <ol>
        <li>Apply to Queens Mary and get an offer for Ai based programs. </li>
        <li>Write a 250 words personal statement and upload on the website alongside other documents. </li>
        
      </ol>
    </div>
    </div>
  </body>
  </html>
  
