<html>
  <head>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="login-fg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 col-lg-7 col-md-12 bg" style="background-image:url('images/login.jpg')">
                    
                </div>
                <div class="col-xl-4 col-lg-5 col-md-12 login">
                    <div class="login-section">
                        <div class="logo clearfix">
                            <a href="#">
                                Stud4U
                            </a>
                        </div>
                        <h3>Create An account</h3>
                       
                       
                        <div class="form-container">
                            <form action="#" method="GET">
                                <div class="form-group form-fg">
                                    <input type="email" name="email" class="input-text" placeholder="E-mail">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="form-group form-fg">
                                    <input type="text" name="text" class="input-text" placeholder="User-Name">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="form-group form-fg">
                                    <input type="email" name="email" class="input-text" placeholder="Password">
                                    <i class="fa fa-unlock-alt"></i>
                                </div>
                            
                                <div class="form-group mt-2">
                                    <button type="submit" class="btn-md btn-fg btn-block">Sign-Up</button>
                                </div>
                            </form>
                        </div>
                        <p>Already an User? <a href="login.html" class="linkButton">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
  </body>
</html>
