<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>University of Illinois at Urbana-champaign</title>
  <style>
    body{
        background-color: darkgrey;
    }
    .container {
        background-color: #f7f7f7;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
      }
      h1 {
        color: #337ab7;
      }
      .border {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px #ccc;
        animation: slideInLeft 1s ease;
      }
  </style>
</head>
<body>
  <div class="container my-5">
    <h1 class="text-center">UIUC Champaign scholar program. </h1>
    <hr>
    <div class="border p-3">
      <h2>Key Information:</h2>
      <p>The UIUC Champaign scholar program provides phenomenal help to athelets with high grades. </p>
    </div>
    <div class="border p-3 my-3">
      <h2>Champaign Scholar program scholarship Eligibility Criteria:</h2>
      <ul>
        <li>Student must be a national level player in any sports UIUC has a team for. </li>
        <li>Student has a 80% GPA in previous study. </li>
      </ul>
    </div>
    <div class="border p-3 my-3">
      <h2>Champaign Scholar program Scholarship Rewards and Benefits:</h2>
      <ul>
        <li>University waives 100% of the tuition fees for the whole duration of study. </li> 
        <li>Best in class sports training and diet at no price. </li>
        <li>Monthly stipend of 1000 dollars. </li>
        <li>Living costs is fully covered. </li>
        <li>Travel fares for any sports events covered completely. </li>
      </ul>
    </div>
    <div class="border p-3 my-3">
      <h2> ChampaignScholar program Scholarship Application Process:</h2>
      <ol>
        <li>Apply and schedule a sports trial in real events. </li>
        <li>There will be a personal statement of 250 words to be submitted. </li>
        <li> A personal interview regarding sports and study goals. </li>
        
      </ol>
    </div>
    </div>
  </body>
  </html>
  
