<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>University of Ottawa</title>
  <style>
    body{
        background-color: darkgrey;
    }
    .container {
        background-color: #f7f7f7;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
      }
      h1 {
        color: #337ab7;
      }
      .border {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px #ccc;
        animation: slideInLeft 1s ease;
      }
  </style>
</head>
<body>
  <div class="container my-5">
    <h1 class="text-center">U of Ottawa Differential tuition. </h1>
    <hr>
    <div class="border p-3">
      <h2>Key Information:</h2>
      <p>The diffrential tuition scholarship offers quite impressive packages to any international student willing to take their whole course in French. </p>
    </div>
    <div class="border p-3 my-3">
      <h2>Differential tuition scholarship Eligibility Criteria:</h2>
      <ul>
        <li>Student must be a international student and not a resident of Canada </li>
        <li>Have a GPA of 70 percent. </li>
        <li>Has choosen French as their primary langauge of instruction. </li>
      </ul>
    </div>
    <div class="border p-3 my-3">
      <h2>Differential tuition Scholarship Rewards and Benefits:</h2>
      <ul>
        <li>University dicounts 80% of the tuiton fees of student selected for differerntial tuiton. </li> 
      </ul>
    </div>
    <div class="border p-3 my-3">
      <h2>Diffrential tuition Scholarship Application Process:</h2>
      <ol>
        <li>Apply to University of Ottawa and choose French as primary language of instruction. </li>
        <li>Satisfy the French language requirement. </li>
        
      </ol>
    </div>
    </div>
  </body>
  </html>
  
