{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Parul-University</title>
        <!-- Basic page styling -->
        <!-- <link rel="stylesheet" type="text/css" href="base.css"> -->
        <!-- User styling -->
        <link rel="stylesheet" type="text/css" href="{% static 'alluni.css' %}">
        <style>
          body{
            font-family: 'Times New Roman', Times, serif;
          }
          .eligibility-criteria {
            
            font-size: 18px;
            margin: 16px;
            text-align: left;
          }
    
          .criteria-header {
            font-weight: bold;
            margin-bottom: 10px;
          }
  
          
        .container {
          position: relative;
          width: 1100px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          margin: 20px;
          margin-left:200px;
        }
        
        .container .box {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 320px;
          height: 420px;
          margin: 20px;
          background: #121e27;
        }
        
        .container .box .box-content {
          padding: 30px;
          text-align: center;
        }
        
        .container .box .box-content .quote {
          max-width: 48px;
        }
        
        .container .box .box-content p {
          color: #fff;
          padding: 20px 0;
        }
        
        .container .box .box-content .user {
          max-width: 72px;
          border-radius: 50%;
        }
        
        .container .box .box-content h3 {
          color: #33d1a0;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 1px;
          font-weight: 600;
        }
        p{
          font-size:18px;
        }
        
        </style>
    </head>
    <body>
        
    
    	<div class="hero" id="top">
    		<div class="hero-image"></div>
			<h1> University of Auckland</h1>
    	</div>
    	<div class="navbar-wrapper">
	        <nav>
	        	<div class="content">
		        	<ul>
		        		<li><a href="#vision"><p>About</p></a></li>
                        <li><a href="#team"><p>Criteria</p></a></li>

		        		<li><a href="#product"><p>Scholarships</p></a></li>
		        		
		        	</ul>
		        	<ul class="right">
                <li><a href="{% url 'Login:interview' %}"><p>Questions</p></a></li>

		        		<li><a href="{% url 'sprofile:su' %}"><p>Predict</p></a></li>
                        <li><a href="{% url 'Login:generate_essay' %}"><p>Write An Application</p></a></li>
                         
          <!-- <button id="generate-essay ">Generate Essay</button>
          <div id="essay-container"></div> -->
		        	</ul>
		        </div>
	        </nav>
    	</div>
		<section id="vision">
 
			<div class="content">
				<h1>BE HERE BE VIBRANT</h1>
				<h2>For a world where student come first</h2>
				<p>A state of the art campus, situated in Gujarat’s cultural capital, Vadodara. From the date of its inception in 1993, to the point of its recognition as Parul University in the year 2015, the University has grown into one of India’s leading academic Institutions. Parul University is an embodiment of the essence of cultural heritage and diversity with a blend of 21st century modernity. The University is an amalgamation of 20 faculties and 36 institutes, with a plethora of diploma, undergraduate and post graduate programs in numerous disciplines. Offering a range of over 250 uniquely structured programs, designed to suit the career prospects of every student aspirant. The 150-acre lush green campus is home to over 35,000 national and international students from 64 countries, making Parul University a culturally global destination.</p>
				<p>As a mark of excellence, the University has been awarded as Best Private University in Western India by Praxis Media, Best University in Placements by ASSOCHAM and ranked among the Top 50 Private Universities for Leading Innovation Achievements 2020 by ARIIA, Ministry of Human Resource Development. Our Multidisciplinary network of expert faculties, corporate ties, collaborative research and global partnerships provide our students with an enriching University experience, uniquely shaping every student, to shape the world.</p>
			</div>
		</section>
        
		<section class="container my-5" id="team">
            <div class="row content">
              <div class="col-md-8">
                <h2 class=" text-center font-weight-bold"><h1>Eligibility Criteria</h1></h2>
              </div>
            </div>
            <div class="row my-3 content">
              <div class="col-md-6 offset-md-3">
                <ul class="list-group">
                  <li class="list-group-item bg-light">
                    <h5 class="font-weight-bold">Passed 10+2 examination with any three of the following subjects:</h5>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Physics</li>
                      <li class="list-group-item">Maths</li>
                      <li class="list-group-item">Chemistry</li>
                      <li class="list-group-item">Computer Science</li>
                      <li class="list-group-item">Electronics</li>
                      <li class="list-group-item">Information Technology</li>
                      <li class="list-group-item">Biology</li>
                      <li class="list-group-item">Informatics Practices</li>
                      <li class="list-group-item">Biotechnology</li>
                      <li class="list-group-item">Technical Vocational Subject</li>
                      <li class="list-group-item">Agriculture</li>
                      <li class="list-group-item">Engineering Graphics</li>
                      <li class="list-group-item">Business Studies</li>
                      <li class="list-group-item">Entrepreneurship</li>
                    </ul>
                  </li>
                  <li class="list-group-item bg-light content">
                    <h5 class="font-weight-bold">Obtained at least 45% marks (40% marks in case of candidates belonging to Reserved Category) in the subjects taken together</h5>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row my-3 content">
              <div class="col-md-6 offset-md-3">
                <ul class="list-group">
                  <li class="list-group-item bg-light">
                    <h5 class="font-weight-bold">Passed minimum 3 years diploma examination with at least 45% marks (40% marks in case of candidates belonging to reserved category)</h5>
                  </li>
                  <li class="list-group-item bg-light">
                    <h5 class="font-weight-bold">Subject to vacancies in the first year, in case the vacancies at lateral entry are exhausted.</h5>
                  </li>
                  <li class="list-group-item bg-light">
                    <h5 class="font-weight-bold">Universities will offer suitable bridge courses (such as Mathematics, Physics, Engineering Drawing, etc.) for students from diverse backgrounds to achieve desired learning outcomes of the program.</h5>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <div class="container">
            <div class="box">
              <div class="box-content">
                <img src="https://fadzrinmadu.github.io/hosted-assets/design-testimonial-section-using-html-and-css/quote.png" class="quote">
                <p>Around 60% of students got placed in our course. The highest salary package offered was 12 LPA. The lowest salary package offered was 3 LPA. The top recruiting company is L&T. More than 70% of students got internships in this course.</p>
                <img src="https://fadzrinmadu.github.io/hosted-assets/design-testimonial-section-using-html-and-css/1.jpg" class="user">
            
                <h3>Yatri Pathak</h3>
              </div>
            </div>
            <div class="box">
              <div class="box-content">
                <img src="https://fadzrinmadu.github.io/hosted-assets/design-testimonial-section-using-html-and-css/quote.png" class="quote">
                <p> It is the best college in terms of studies. Many students got internships in this course. On-campus and off-camus placements are also offered in this course. The highest salary package offered was 25 LPA.</p>
                <img src="https://fadzrinmadu.github.io/hosted-assets/design-testimonial-section-using-html-and-css/2.jpg" class="user">
                <h3>Parth Kalavadiya</h3>
              </div>
            </div>
            <div class="box">
              <div class="box-content">
                <img src="https://fadzrinmadu.github.io/hosted-assets/design-testimonial-section-using-html-and-css/quote.png" class="quote">
                <p>The facilities are excellent in this college. Wi-Fi is also available. Digital classrooms are available where notes and study materials are uploaded timely. There are 15 libraries in our college. Hostel facilities are better. </p>
                <img src="https://fadzrinmadu.github.io/hosted-assets/design-testimonial-section-using-html-and-css/3.jpg" class="user">
                <h3>Drashti Sojitra</h3>
              </div>
            </div>
          </div>
          <div class="card-container" id="product">
          
            <div class="card" id="high-gpa" style="display: none;" >
              <div class="card-header">
                <h3>University of Auckland, Oceania scholar</h3>
              </div>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam et tincidunt tempus, sem justo placerat elit, a dictum libero libero quis purus.</p>
              </div>
              <div class="card-footer">
                <a href ="{% url 'Login:auckland_s' %}">
                <button class="view-more-btn">View More</button></a>
              </div>
            </div>
          
            <div class="card low-gpa" id="low-gpa" style="display:none;">
              <div class="card-header">
                <h3>University of Auckland, The road runner</h3>
              </div>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam et tincidunt tempus, sem justo placerat elit, a dictum libero libero quis purus.</p>
              </div>
              <div class="card-footer">
              <a href ="{% url 'Login:auckland_s' %}">
                <button class="view-more-btn">View More</button></a>
              </div>
            </div>
        
            
          </div>
      <p id="demo"></p>
          

		<footer>
			<p><a href="#">built with ❤ in HACKATHON </a></p>
		</footer>
    
   <script>
    
      var gpa = "{{ auckland_data }}";
      var sports ="{{ auckland_data2 }}";
      var gender ="{{ auckland_data1 }}";

      
      if (gpa >= 8 && sports == "True" && gender == "Male" || gender == "male") {
        document.getElementById("high-gpa").style.display = "block";
        document.getElementById("low-gpa").style.display = "block";
        }
        else if (gpa >= 8) {
        document.getElementById("high-gpa").style.display = "block";
        }
        else if (gpa < 8 && sports == "True" && gender == "Male" || gender == "male") {
        document.getElementById("low-gpa").style.display = "block";
        }
      else{
        document.getElementById("demo").innerHTML = "Sorry, you are not eligible for any scholarship";
      }
    </script> 
    <script src="{% static 'alluni.js' %}"></script> 
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<!-- User scripts -->
		
    </body>
</html>