{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>University of Ottawa</title>
        <!-- Basic page styling -->
        <!-- <link rel="stylesheet" type="text/css" href="base.css"> -->
        <!-- User styling -->
        <link rel="stylesheet" type="text/css" href="{% static 'alluni.css' %}">
    </head>
    <style>
		body {
			font-family: Arial, sans-serif;
			text-align: justify;
			padding: 20px;
		}
		h1 {
			text-align: center;
			font-size: 36px;
			margin-bottom: 30px;
		}
		ul {
			list-style-type: square;
			margin-left: 40px;
			margin-bottom: 20px;
		}
		li {
			margin-bottom: 10px;
		}
		strong {
			font-weight: bold;
		}
		.container {
			position: relative;
			width: 1100px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			margin: 20px;
			margin-left:200px;
		  }
		  
		  .container .box {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 320px;
			height: 420px;
			margin: 20px;
			background: #121e27;
		  }
		  
		  .container .box .box-content {
			padding: 30px;
			text-align: center;
		  }
		  
		  .container .box .box-content .quote {
			max-width: 48px;
		  }
		  
		  .container .box .box-content p {
			color: #fff;
			padding: 20px 0;
		  }
		  
		  .container .box .box-content .user {
			max-width: 72px;
			border-radius: 50%;
		  }
		  
		  .container .box .box-content h3 {
			color: #33d1a0;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 1px;
			font-weight: 600;
		  }
		  p{
			font-size:16px;
		  }
		  
		  
	</style>
    <body>
        

    	<div class="hero" id="top">
    		<div class="hero-image"></div>
			<h1>University of Ottawa</h1>
    	</div>
    	<div class="navbar-wrapper">
	        <nav>
	        	<div class="content">
		        	<ul>
		        		<li><a href="#vision"><p>About</p></a></li>
                        <li><a href="#team"><p>Criteria</p></a></li>
		        		<li><a href="#product"><p>Scholarships</p></a></li>
		        		
		        	</ul>
		        	<ul class="right">
						<li><a href="{% url 'Login:interview' %}"><p>Questions</p></a></li>

		        		<li><a href="{% url 'sprofile:uoo' %}"><p>Predict</p></a></li>
                        <li><a href="{% url 'Login:generate_essay' %}"><p>Write An Application</p></a></li>
		        	</ul>
		        </div>
	        </nav>
    	</div>
		<section id="vision">
			<div class="content">
				<h1>God is the master of the sciences</h1>
				<p>The University of Ottawa is the largest bilingual (English-French) university in the world. Located in the heart of Canada’s capital, we have ready access to the great institutions of our country.</p>
                <p>We are building the University of Tomorrow. Two decades into the 21st century, having taken stock of our extraordinary growth, we look to the future with confidence, ambition and vision, poised to complete our metamorphosis into an illustrious internationally-engaged university. Jacques Frémont, President and Vice-Chanc “Transformatio</p>
			</div>
		</section>
        
		<section class="container my-5" id="team">
            <div class="admission-requirements">
                <h1>Admission Requirements for Graduate Studies at the University of Ottawa</h1>
	<p>The department/school of the University of Ottawa in which the applicant intends to pursue graduate study must approve the application and the applicant's proposed program. In addition, applicants must be recommended for admission by the Associate Dean (Graduate Studies) of the appropriate Faculty. At the discretion of the committee, an applicant may be required to write a set of qualifying examinations.</p>
	<p>Official admission to any program of graduate studies is in the form of an "Offer of Admission" issued only by Graduate Studies and Postdoctoral Affairs (GSPA).</p>
	<p>For further information, prospective graduate students should contact the department/school to which they seek admission.</p>
	<ul>
		<li><strong>Minimum admission requirement:</strong> A 75% overall standing in the last two years, or equivalent, in a four-year Honours Bachelor's degree or equivalent is the minimum requirement for admission to a Master's program. Departments and Faculties may set higher admission requirements.</li>
		<li><strong>Letters of reference:</strong> A minimum of two letters of reference are required for admission to a Master's program. Academic references are required unless a professional reference is specified (see program admission requirements). Departments or Faculties may set higher requirements.</li>
		<li><strong>Approved universities and colleges:</strong> Information on approved universities and colleges is available in Graduate Studies and Postdoctoral Affairs (GSPA).</li>
	</ul>
</section>
<div class="container">
		<div class="box">
		  <div class="box-content">
			<img src="https://fadzrinmadu.github.io/hosted-assets/design-testimonial-section-using-html-and-css/quote.png" class="quote">
			<p>Around 60% of students got placed in our course. The highest salary package offered was 12 LPA. The lowest salary package offered was 3 LPA. The top recruiting company is L&T. More than 70% of students got internships in this course.</p>
			<img src="https://fadzrinmadu.github.io/hosted-assets/design-testimonial-section-using-html-and-css/1.jpg" class="user">
		
			<h3>Yatri Pathak</h3>
		  </div>
		</div>
		<div class="box">
		  <div class="box-content">
			<img src="https://fadzrinmadu.github.io/hosted-assets/design-testimonial-section-using-html-and-css/quote.png" class="quote">
			<p> It is the best college in terms of studies. Many students got internships in this course. On-campus and off-camus placements are also offered in this course. The highest salary package offered was 25 LPA.</p>
			<img src="https://fadzrinmadu.github.io/hosted-assets/design-testimonial-section-using-html-and-css/2.jpg" class="user">
			<h3>Parth Kalavadiya</h3>
		  </div>
		</div>
		<div class="box">
		  <div class="box-content">
			<img src="https://fadzrinmadu.github.io/hosted-assets/design-testimonial-section-using-html-and-css/quote.png" class="quote">
			<p>The facilities are excellent in this college. Wi-Fi is also available. Digital classrooms are available where notes and study materials are uploaded timely. There are 15 libraries in our college. Hostel facilities are better. </p>
			<img src="https://fadzrinmadu.github.io/hosted-assets/design-testimonial-section-using-html-and-css/3.jpg" class="user">
			<h3>Drashti Sojitra</h3>
		  </div>
		</div>
	  </div>
          <div class="card-container" id="product">
            <div class="card" id="high-gpa" style="display: none;">
              <div class="card-header">
                <h3>Ottawa University, Differettial</h3>
              </div>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam et tincidunt tempus, sem justo placerat elit, a dictum libero libero quis purus.</p>
              </div>
              <div class="card-footer">
				 <a href ="{% url 'Login:ottawa_s' %}">
                <button class="view-more-btn">View More</button>
				</a>
              </div>
            </div>
          
            <div class="card"  id="low-gpa" style="display: none;">
              <div class="card-header">
                <h3>Ottawa university, Academic support</h3>
              </div>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam et tincidunt tempus, sem justo placerat elit, a dictum libero libero quis purus.</p>
              </div>
              <div class="card-footer">
				 <a href ="{% url 'Login:ottawa_s' %}">
                <button class="view-more-btn">View More</button>
				</a>
              </div>
            </div>
          
            <div class="card"  id="avg-gpa" style="display: none;">
              <div class="card-header">
                <h3>Ottawa university, tomorrow's leader</h3>
              </div>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam et tincidunt tempus, sem justo placerat elit, a dictum libero libero quis purus.</p>
              </div>
              <div class="card-footer">
				 <a href ="{% url 'Login:ottawa_s' %}">
                <button class="view-more-btn">View More</button>
				</a>
              </div>
            </div>
          </div>
          
          
          <p id="demo"></p>
		<footer>
			<p><a href="#">built with ❤ in HACKATHON </a></p>
		</footer>
		 
		<script>
			var gpa = "{{ottawauni_data }}";
			var french ="{{ottawauni_data2 }}";
			var gender = "{{ottawauni_data1 }}";
			if (gpa >=7  && gender=="female" || gender=="Female" && french == "True") {
			  document.getElementById("high-gpa").style.display = "block";
			  document.getElementById("low-gpa").style.display = "block";
			  document.getElementById("avg-gpa").style.display = "block";
			} else if (gpa >= 7 && gender=="female" || gender=="Female" && french != "True") {
			  document.getElementById("low-gpa").style.display = "block";
			  document.getElementById("avg-gpa").style.display = "block";
			}
			else if (gpa >= 7 && gender!="female" || gender!="Female" && french == "True") {
			  document.getElementById("low-gpa").style.display = "block";
			  document.getElementById("high-gpa").style.display = "block";
			}
			else if (gpa >= 8.5 && gender!="female" || gender!="Female" && french != "True") {
			  document.getElementById("low-gpa").style.display = "block";
			  
			}
			else{
        document.getElementById("demo").innerHTML = "Sorry, you are not eligible for any scholarship";
      }
		  </script>
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<!-- User scripts -->
		<script type="text/javascript" src='alluni.js'></script>
    </body>
</html>