form {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  label {
    font-weight: bold;
    margin-right: 30%;
    margin-left: 30%;
  }
  
  input[type="text"], input[type="email"],input[type="number"] ,textarea  {
    padding: 10px;
    margin-bottom: 20px;
    width: 40%;
    margin-left: 30%;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 47%;
  }
  select {
    padding: 10px;
    margin-bottom: 20px;
    width: 40%;
    margin-left: 30%;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
  